@model HomeVM
@{
    int count = 0;
}
<!-- Hero start -->
<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more width & up to 70% off!</p>
    <button>Shop Now</button>
</section>
<!-- Hero End -->
<!-- Feature start -->
<section id="feature" class="section-p1">
    @foreach (Icon item in Model.Icons)
    {
        <div class="fe-box">
            <img src="~/assets/img/features/@item.IconImageUrl" alt="">
            <h6>@item.Title </h6>
        </div>
    }
</section>
<!-- Feature end -->
<!-- Product Start -->
<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Morden Design</p>
    <div class="pro-container">
        @foreach (Product item in Model.Products)
        {
            count++;
            if(count > 8)
            {
                break;
            }
            else
            {
                <div class="pro " >
                    <a asp-controller="Product" asp-action="ViewProduct" asp-route-id="@item.Id"><img id="product-image" src="~/assets/img/products/@item.ProductImageUrl" alt=""></a>
                    <div class="des">
                        <span>@item.Brands.BrandName</span>
                        <h5>@item.ProductName</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$@item.ProductPrice</h4>
                    </div>
                    <a class="add-to-basket" asp-controller="Product" asp-action="AddCart" asp-route-id="@item.Id" id="cart"><i class="fa-solid fa-cart-shopping  "></i></a>
                </div>
            }
        }
    </div>
</section>
<!-- Product end -->
<!-- Banner Start -->
<section id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <span>70% off</span> - All t-Shirts & Accessories</h2>
    <button class="normal">Explore More</button>
</section>
<!-- Banner end -->
<!-- Praduct part2 start -->
<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Morden Design</p>
    <div class="pro-container">
        @foreach (Product item in Model.Products)
        {
            count++;

            if (count >= 18 && count<= 25)
            {
                <div class="pro" >
                    <a asp-controller="Product" asp-action="ViewProduct" asp-route-id="@item.Id"><img id="product-image" src="~/assets/img/products/@item.ProductImageUrl" alt=""></a>
                    <div class="des">
                        <span>@item.Brands.BrandName</span>
                        <h5>@item.ProductName</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$@item.ProductPrice</h4>
                    </div>
                    <a class="add-to-basket" asp-controller="Product" asp-action="AddCart" asp-route-id="@item.Id" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            }

        }
    </div>
</section>
<!-- Praduct part2 end -->
<!-- sm banner start -->
<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>crazy deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>The best classic dress is on sale at cara</span>
        <button class="white">Learn More</button>
    </div>
    <div class="banner-box banner-box2">
        <h4>spring/summer</h4>
        <h2>upcomming season</h2>
        <span>The best classic dress is on sale at cara</span>
        <button class="white">Collection</button>
    </div>
</section>
<!-- sm banner end -->
<!-- section3 start -->
<section id="banner3">
    <div class="banner-box ">
        <h2>SEASONAL SALE</h2>
        <h3>Winter Collection -50% OFF</h3>
    </div>
    <div class="banner-box banner-box2">
        <h2>NEW FOOTWEAR COLLECTION</h2>
        <h3>Spring / Summer 2023</h3>
    </div>
    <div class="banner-box banner-box3">
        <h2>T-SHIRTS</h2>
        <h3>New Trendy Prints</h3>
    </div>
</section>
<!-- section3 end -->

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For NewsLetters</h4>
        <p>Get E-mail updates about our latest shop and and <span> special offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>