@model Product
<h1>Name: @Model.ProductName</h1>
<h1>Detail: @Model.ProductDetail</h1>
<h1>Information: @Model.ProductInformation</h1>
<h1>Reviews: @Model.ProductReviews</h1>
<h1>Price: @Model.ProductPrice</h1>
<h1>Brand name: @Model.Brands.BrandName</h1>
<h1>Catagory name: @Model.Catagories.CatagoryName</h1>
<img id="product-image" src="~/assets/img/products/@Model.ProductImageUrl" style="width: 200px" alt="">
